/* MEDIA QUERY FOR RESPONSIVENESS */

@media (max-width: 768px) {
  header {
    /* height: 10em; */
    padding: 0;
  }

  header h2 {
    font-size: 1.8em;
    letter-spacing: 0.1em;
  }

  header p {
    font-size: 1rem;
  }

  .container {
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 0;
  }

  h2 {
    font-size: 1.2em;
  }
  /* .container .cloudresumechallenge h2 {
    letter-spacing: normal;
    font-size: 1.18rem;
    text-align: center;
  } */

  .resume-main {
    margin-bottom: 0;
  }

  .main-container {
    display: flex;
    flex-direction: column-reverse;
  }

  .left-side {
    align-items: flex-start;
    border-bottom: #d3b85e solid 0.15em;
    padding-top: 0.8em;
    padding-bottom: 0.8em;
  }
  .cert-wrapper {
    display: flex;
    flex-direction: column;
    /* align-items: flex-start; */
    /* gap: 0.4em; */
    margin-top: 0.3em;
  }
  /* .certificaten a {
    align-items: flex-start;
    gap: 0.4em;
    margin-top: 0.3em;
  } */
  .left-wrapper {
    border-right: none;
    text-align: left;
    /* margin-bottom: 0.8em; */
    padding: 0;
    /* padding-bottom: 0.8em; */

    /* border-top: #d3b85e solid 0.15em; */
  }

  .right-wrapper {
    display: flex;
    border-bottom: #d3b85e solid 0.15em;
    flex-direction: column-reverse;
    text-align: left;
    padding: 0;
    margin: 0;
    border-left: none;
  }

  .right-wrapper .experience {
    padding-top: 0.8em;
    border-top: #d3b85e solid 0.15em;
    border-bottom: #d3b85e solid 0.15em;
    text-align: left;
    order: 0;
  }

  .skills ul {
    padding: 0;
    text-align: left;
  }

  .cloudresumechallenge {
    padding-top: 0.8em;
  }

  /* .experience h2 {
  } */

  .foto {
    margin-bottom: 20px;
  }

  /* .foto img {
    height: 180px;
    width: 180px;
  } */

  a {
    text-decoration: none;
  }

  a:visited {
    color: rgb(85, 85, 85);
  }
}
