/* MEDIA QUERY FOR RESPONSIVENESS */

@media (max-width: 768px) {
  header {
    /* height: 10em; */
    padding: 0;
  }

  header h2 {
    font-size: 1.8em;
    letter-spacing: 0.1em;
  }
  header p {
    font-size: 1rem;
  }

  .container {
    align-items: center;
    flex-direction: column;
    text-align: left;
    margin: 0;
  }

  .container .cloudresumechallenge h2 {
    letter-spacing: normal;
    font-size: 1.32rem;
    /* text-align: center; */
  }

  .main-container {
    display: flex;
    flex-direction: column;
  }

  .left-wrapper {
    border-right: none;
    text-align: left;
    margin-bottom: 0.8em;
    padding: 0;
    padding-bottom: 0.8em;
    border-bottom: #799acc solid 0.15em;
    border-bottom: #d3b85e solid 0.15em;
    border-top: #d3b85e solid 0.15em;
    padding-top: 0.8em;
  }

  .right-wrapper {
    text-align: left;
    padding: 0;
  }

  .right-wrapper .experience {
    text-align: left;
  }

  /* .experience h2 {
  } */

  .foto {
    margin-bottom: 20px;
  }

  a:visited {
    color: rgb(85, 85, 85);
  }
}
