/* GENERAL */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header,
main,
footer {
  padding: 20px;
  margin-bottom: 10px;
}
main {
  margin-bottom: 0;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  height: 100%;
}

html {
  scroll-behavior: smooth;
}

p,
h5,
ul {
  color: rgb(85, 85, 85);
}

a {
  text-decoration: none;
  color: rgb(85, 85, 85);
}
a:hover {
  color: rgb(121, 19, 161);
}

/* TRANSITION */

a,
.btn,
.foto img {
  transition: all 300ms ease;
}

/* RESUME CONTAINER */

.resume-container {
  margin: 10px;
  max-width: 800px;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* HEADER */

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 12em;
  background-color: #799acc;
  flex-direction: column;
}

header h2 {
  font-family: "Times New Roman", Times, serif;
  font-weight: 100;
  display: flex;
  letter-spacing: 0.6rem;
  color: white;
  font-size: 3.2em;
  margin-bottom: 10px;
}

header p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif, "Arial Narrow",
    Arial, sans-serif;
  font-weight: 100;
  display: flex;
  color: white;
  font-size: 1.25em;
  letter-spacing: 0.1em;
}

/* MAIN */

/* main {
  margin-bottom: 25px;
} */

main h2 {
  color: #799acc;
  letter-spacing: 0.05em;
}

.container {
  /* background-color: blueviolet; */
  display: flex;
  align-content: center;
  justify-content: center;
  margin-bottom: 2em;
  gap: 5%;
}

.foto {
  display: flex;
  justify-content: right;
  flex-basis: 39%;
}

.foto img {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  object-fit: cover;
  border: transparent solid 5px;
  border-bottom: #d3b85e solid 5px;
  padding: 5px;
}

.foto img:hover {
  color: white;
  opacity: 75%;
}

.profiel {
  display: flex;
  flex-basis: 65%;
  flex-direction: column;
  justify-content: center;
  padding-top: 1.2em;
}

.contact li {
  list-style: none;
}

.main-container {
  display: flex;
}

.left-side,
.right-side {
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.left-side {
  display: flex;
  justify-content: flex-start;
  flex-basis: 32%;
  text-align: right;
}

.right-side {
  flex-basis: 68%;
}

.left-wrapper {
  padding-right: 15px;
  display: flex;
  flex-direction: column;
  /* justify-content: flex-end; */
  /* align-items: center; */
  /* justify-content: center; */
  border-right: #799acc solid 5px;
}

.right-wrapper {
  margin-left: 10px;
  padding-left: 15px;
  border-left: #d3b85e solid 5px;
}

.skills li {
  list-style: none;
}

ul {
  /* padding-left: 1.5em; */
  /* list-style: none; */
}

.cloudresumechallenge ul {
  list-style: none;
  /* padding-left: 1.5em; */
}

.experience ul {
  padding-left: 1.5em;
}

/* .certificaten a {
  display: flex;
  flex-direction: column;
  align-items: last baseline;
  gap: 0.4em;
  margin-top: 0.2em;
} */
.cert-wrapper {
  /* flex-direction: column-reverse; */
  flex-direction: column;
  /* align-items: last baseline; */
  /* gap: 0.4em; */
  margin-top: 0.2em;
}

.certificaten img {
  height: auto;
  max-width: 50%;
  /* transform: scale(60%); */
  /* display: flex; */
  /* justify-content: right; */
  /* align-items: center; */
  /* margin-left: 1.1em; */
  /* margin-top: -2em; */
}

.MS900 {
  filter: grayscale();
}

.CRCtext {
  /* text-decoration: overline; */
  text-decoration: underline;
}

/* FOOTER */

footer {
  display: flex;
  justify-content: center;
  gap: 0.5em;
  /* margin-bottom: 0px; */
}

.resume-footer img {
  height: 1.875em;
  display: flex;
}

/* .resume-footer .git {

} */
